<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:200i,400,900i|Oranienbaum" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Know News</title>
</head>

<body>
    {{{body}}}
</body>

</html>