<container class="uk-container">
    <h1 class="uk-position-top-right">AZNAM News</h1>
    <h2 id="getarticles" class="uk-position-top-left"><a class="uk-link-heading" href="#">get articles.</a></h2>

    <section>
        <div>
            <ul class="uk-list uk-list-large">
                {{#each dbArticle}}
                <li>{{title}} - {{link}}</li>
                {{/each}}
            </ul>
        </div>
    </section>

</container>