<container class="uk-container">
    <h1 class="uk-position-top-right">Tech News</h1>
    <h2 class="uk-position-top-left">get articles.</h2>
</container>

<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>

